<%- include('../partials/head', {title: 'Landing Page'}) %>
<%- include('../partials/navbar') %>
<div>
    <h1>Insert Stock</h1>
    <div>
      <a href="/administrator/list-stocks">List Stock</a>
    </div>
</div>

<form action="/administrator/add" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="">
    </div>
    <div>
        <label for="alias">Alias</label>
        <input type="text" id="alias" name="alias" value="">
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" rows="4" cols="50" name="description"></textarea>
    </div>
    <div>
        <label for="buy">Buy</label>
        <input type="text" id="buy" name="buy" value="">
    </div>
    <div>
        <label for="sell">Sell</label>
        <input type="text" id="sell" name="sell" value="">
    </div>

    <button type="submit" class="btn btn-primary">Insert Stock</button>
</form>
<%- include('../partials/footer') %>