<!DOCTYPE html>
<head>
 
</head>
<body>
    <form action="/administrator/add-item" method="POST">
      Name :<br>
      <input type="text" name="name" value="">
      <br>
      Alias :<br>
      <input type="text" name="alias" value="">
      <br>
      Buy :<br>
      <input type="text" name="buy" value="">
      <br>
      Sell :<br>
      <input type="text" name="sell" value="">
      <br>
      description :<br>
      <input type="text" name="description" value="">
      <br>
      <br><br>
      <input type="submit" value="Submit">
    </form> 
</body>
</html>