<footer class="footer">
    <p class="content">Created by Muhammad Lutfi Ibrahim and Dienul</p>
    <p class="content">Git: mlutfiibra | dienul</p>
    <p class="content" style="margin-bottom: 8px !important;">Jakarta, 2019</p>
</footer>

</body>

</html>