<%- include('./partials/head', {title: 'Landing Page'}) %>
<%- include('./partials/navbar') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Forex Id</h2>
        </div>

        <div>
            <canvas id="line-chart" width="800" height="450"></canvas>
        </div>

        <div class="my-new-list">

        </div>
    </div>
</div>
<%- include('../public/js-assets') %>

<script>
    $( document ).ready(function() {
        $.ajax ({ url: '../price_history.json', method: "GET"})
        .success(function (response) {
            var json = $.parseJSON (response);
            console.log(json);
        });
    });


    // new Chart(document.getElementById("line-chart"), {
    //     type: 'line',
    //     data: {
    //         labels: ['1d', '1w', '1m', '3m', '1y', '5y'],
    //         datasets: [{ 
    //             data: [86,114,106,106,107,111,133,221,783,2478],
    //             label: "Astra",
    //             borderColor: "#3e95cd",
    //             fill: false
    //         } 
            // { 
            //     data: [282,350,411,502,635,809,947,1402,3700,5267],
            //     label: "Asia",
            //     borderColor: "#8e5ea2",
            //     fill: false
            // }, { 
            //     data: [168,170,178,190,203,276,408,547,675,734],
            //     label: "Europe",
            //     borderColor: "#3cba9f",
            //     fill: false
            // }, { 
            //     data: [40,20,10,16,24,38,74,167,508,784],
            //     label: "Latin America",
            //     borderColor: "#e8c3b9",
            //     fill: false
            // }, { 
            //     data: [6,3,2,2,7,26,82,172,312,433],
            //     label: "North America",
            //     borderColor: "#c45850",
            //     fill: false
            // }
        //     ]
        // },
        // options: {
        //     title: {
        //     display: true,
        //     text: 'ASII \nAstra International Tbk.'
        //     }
        // }
        // });

    // new Chart(document.getElementById("mixed-chart"), {
    //     type: 'bar',
    //     data: {
    //     labels: ["1900", "1950", "1999", "2050"],
    //     datasets: [{
    //         label: "Europe",
    //         type: "line",
    //         borderColor: "#8e5ea2",
    //         data: [408,547,675,734],
    //         fill: false
    //         }, {
    //         label: "Africa",
    //         type: "line",
    //         borderColor: "#3e95cd",
    //         data: [133,221,783,2478],
    //         fill: false
    //         }, {
    //         label: "Europe",
    //         type: "bar",
    //         backgroundColor: "rgba(0,0,0,0.2)",
    //         data: [408,547,675,734],
    //         }, {
    //         label: "Africa",
    //         type: "bar",
    //         backgroundColor: "rgba(0,0,0,0.2)",
    //         backgroundColorHover: "#3e95cd",
    //         data: [133,221,783,2478]
    //         }
    //     ]
    //     },
    //     options: {
    //     title: {
    //         display: true,
    //         text: 'Population growth (millions): Europe & Africa'
    //     },
    //     legend: { display: false }
    //     }
    // });

</script>
<%- include('./partials/footer') %>