.color-grey3 { color: #ededed }
.color-grey3 { color: #bdbdbd }
.color-grey4 { color: #616161 }

.mt-5 { margin-top: 5px }
.mt-10 { margin-top: 10px }
.mt-15 { margin-top: 15px }
.mt-20 { margin-top: 20px }
.mt-25 { margin-top: 25px }
.mt-30 { margin-top: 30px }

.fw-400 {font-weight: 400}
.fw-500 {font-weight: 500}

.fs-10 { font-size: 10px }
.fs-11 { font-size: 11px }
.fs-12 { font-size: 12px }
.fs-14 { font-size: 14px }
.fs-23 { font-size: 23px }

.pull-right { float: right; }

.section-header {
    color: #616161;
    font-weight: 500;
    margin-top: 5px;
    font-size: 23px;
}

.my-jumbotron {
    background-color: #fff;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border-color: #616161;
    width: 485px;
    padding: 30px 45px;
    margin-top: 52px;
}

.abs-center {
    position: absolute;
    top: 16%;
    left: 32%;
}

.mt-5{margin-top: 5px !important;}
.mt-15 {margin-top: 15px;}
.mt-25 {margin-top: 25px;}
.mb-20 {margin-bottom: 20px;}

.fs-15{font-size: 15px;}
.fs-18{font-size: 18px;}
.fs-23{font-size: 23px;}

.color-orange {color: #f47323}
.color-red {color: #c82333}
.color-green {color:#42b549}
#mapid { height: 36em; width: 100%}

.footer {
    /* position: absolute; */
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-top: solid 1px #bdbdbd;
    background-color: #fff;
    text-align: center;
}

.footer .content {
    margin: 0px;
    color: #616161;
    font-weight: 500;
    font-size: 13px;
}