<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User List</title>
</head>
<body>
    <% if(users.length>0) { %>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Balance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user=>{ %>
            <tr>
                <td>
                    <%=user.name %>
                </td>
                <td><%=user.email %></td>
                <td><%=user.Account ? user.Account.balance : 0 %></td>
                <td>
                    <a href="/users/delete/<%=user.id%>">Delete</a>
                </td>
            </tr>
            <% })%>
        </tbody>
    </table>
    <% } else { %>
    <div>
        <h3>No User</h3>
    </div>
    <% } %>
</body>
</html>