<%- include('../partials/head', {title: 'Landing Page'}) %>
<%- include('../partials/navbar') %>
<div class="container">
    <div class="container-form text-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Register</h1>
            </div>

            <div>
                <%if(err){%>
                <h4><%= err %></h4>
                <% } %>
            </div>
            <div class="col-md-12">

                <form action="/users/signup" method="post">
                    <div>
                        <input type="text" id="name" name="name" placeholder="Input your full name">
                    </div>
                    <div>
                        <input type="email" id="email" name="email" placeholder="Input your email">
                    </div>
                    <div>
                        <input type="password" id="password" name="password" placeholder="Input your password">
                    </div>

                    <button type="submit">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>
<%- include('../partials/footer') %>